/* Font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Open+Sans&family=Poppins:wght@500&family=Ubuntu:wght@500&family=Work+Sans:wght@500&display=swap');

:root{
    --text-color: #f0f2f5;
    --link-color: #0015f8;
    --background-color: #eeeff1;
}

body{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    background-color: #f9fafb;
}

/* header */
.logo{
    font-size: 35px;
    width: 600;
}
.logo-color{
    color: #08B8CC;
}

.nav-li{
    font-size: 18px;
}
.nav-a{
    color: white;
}
.nav-a:hover{
   color: red 
}

.banner{
    background: linear-gradient(135deg, #212529 0%, #343a40 100%);
    min-height: 85vh;
    display: flex;
    align-items: center;
    
}

.links {
    margin-top: 25px;
    color: var(--text-color);
}

.links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px; 
}

 .links i {
    color: #fcfcfc; /* Example: blue */
  }

.links a:hover {
    color: var(--text-color);
    border: 2px solid var(--link-color);
    background-color: var(--link-color);
}


/* ***********header end *********** */

/* *********** Main  *********** */

/* *****about me********  */
/* .my-desc{
    text-align: justify;
} */

#about-me {
    padding: 4rem 0;
    background: #fff; /* White background for contrast */
    border-radius: 10px;
   
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#typewriter {
    border-right: 2px solid white;

    animation: blink 0.7s infinite;
}

.my-desc {
    text-align: justify;
    line-height: 1.5; /* Improved readability */
    color: #555;
}

.my-experiance-desc {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    
    
}

/* ********skill*******  */
#my-skill {
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.my-expertise-desc {
    text-align: justify;
}

/* ********competitive programming*******  */
#competitive-programming {
    padding: 4rem 0;
    background: #fff; /* White background for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.hrr {
    width: 100px;
    margin: 1rem auto;
    border: 2px solid #ef4444;
    border-radius: 5px;
  }
.cpp-Image {
  height: 150px;
}
/* *********************card***************** */
.card{
    /* background-color: rgb(244, 244, 236); */
    background-color: white;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.0s ease;
}


.hover-card:hover{
    /* transform: scale(.95);
      transition: 1s; */
      transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  
}


/* Project */
/* 
#my-project {
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
} 
*/

.fullscreen-image {
    height: 25vh; /* 100% of viewport height */

    object-fit: fill; /* Ensures the image covers the entire area without distortion */
    display: block;
  }


/* #open-source {
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
} */

/* **************carousel************ */
.custom-carousel{
    height: 80vh;
    width: 50vh;
}
.carousel-item{
    height: 80vh;
    width: 100vh;
}

.carousel-img{
    padding-top: 50px;
    padding-bottom: 80px;
    margin-left: 340px;
    width: 100%;
    height: auto;
    align-items: center;
}
.hrr{
    border: 10px dotted;
    border-color: red;
    border-bottom: none;
    width: 80px;
    margin: auto;
    
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media screen and (max-width:576px) {
    .carousel-img{
        margin-top: 120px;
        margin-left: 0px;
        width: 40%;
        height: 450px;  
    }
    .carousel-control-prev-icon{
        background-color: red;
        opacity: calc(.3);
     }
     .carousel-control-next-icon{
         background-color: red;
         opacity: calc(.3);
     }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .carousel-img{
        padding-top: 50px;
        margin-left: 0px;
        width: 70%;
        height: 850px;  
    }
    .carousel-control-prev-icon{
        background-color: red;
        opacity: calc(.3);
     }
     .carousel-control-next-icon{
         background-color: red;
         opacity: calc(.3);
     }
}

